---
layout: page
title: Series
permalink: /Works/Series/
hide: true
feature-img: "assets/img/series.jpg"
---

{% assign seriesLists = "" | split: ":" %} {% assign sortedPosts = site.posts |
sort: 'title' %} {% for post in sortedPosts %} {% if post.series %} {% unless
seriesNameLists contains post.series %} {% assign seriesName = post.series %} {%
assign category = post.category %} {% assign seriesCount = '0' %} {% for p in
site.categories[category] %} {% if p.series == seriesName %} {% capture
seriesCount %}{{ seriesCount | plus: '1' }}{% endcapture %} {% endif %} {%
endfor %} {% assign titleNumber= post.title | split: ":" %} {% if titleNumber[0]
== "01" or seriesCount == "1" %} {% assign seriesName = post.series %} {% assign
link = site.url | append: post.url %} {% assign category = post.category %} {%
assign imgPath = site.url | append: "/" |append: post.feature-img %} {% assign
seriesCount = '0' %} {% for p in site.categories[category] %} {% if p.series ==
seriesName %} {% capture seriesCount %}{{ seriesCount | plus: '1' }}{%
endcapture %} {% endif %} {% endfor %} {% assign orderGenerater =
site.data.order[seriesCount] %} {% assign seriesInfo = ""%} {% assign seriesInfo
= seriesInfo | append: orderGenerater.order %} {% assign seriesInfo = seriesInfo
| append: "," | append: seriesCount %} {% assign seriesInfo = seriesInfo |
append: "," | append: seriesName %} {% assign seriesInfo = seriesInfo | append:
"," | append: imgPath %} {% assign seriesInfo = seriesInfo | append: "," |
append: link %} {% assign seriesInfo = seriesInfo | append: "," | append:
category |append: ","%} {% assign seriesLists = seriesLists | push:seriesInfo %}
{% endif %} {% endunless %} {% endif %} {% endfor %} {% assign seriesLists =
seriesLists | sort | reverse %}

<div id="wrapMagazine" class="wrap_magazine #my_mag">
  <div class="list_content" style="">
    {% for seriesPost in seriesLists %} {% assign seriesInfoArray = seriesPost |
    split: "," %}
    <div
      class="box_content animation_up #mag_list box_content_up"
      data-tiara-action-name="작가 프로필 > 작품탭 > 리스트 클릭"
      data-tiara-action-kind="ClickContent"
      data-tiara-layer="works"
    >
      <div class="cover_book cover_book_type3">
        <a href="{{ seriesInfoArray[4] }}">
          <div class="info_cover sanmessi" style="">
            {% assign newlineText = seriesInfoArray[2] | split: " " %} {% for
            line in newlineText %}
            <strong class="tit_cover" style="">{{ line }}</strong>
            {% endfor %}
          </div>
          <img
            src="{{ seriesInfoArray[3] }}"
            width="158"
            height="114"
            class="img_thumb"
            alt="이미지정보"
          />
          <span class="dimmed_book_type1" style=""></span>
          <span class="dimmed_cover"></span>
        </a>
      </div>
      <strong class="tit_content">{{seriesInfoArray[5] }}</strong>
      <a href="{{ seriesInfoArray[4] }}" class="tit_subject"
        ><span class="inner_txt">{{ seriesInfoArray[2] }}</span></a
      >
      <dl class="list_post_info" style="">
        <dt><span class="ico_brunch_v1 ico_list" style=""></span></dt>
        <dd class="txt_g" style="">
          <em style="">{{ seriesInfoArray[1] }}</em>
        </dd>
      </dl>
    </div>
    {% endfor %}
  </div>
</div>
