<header class="site-header">
    <div class="site-title-nav">
        <div class="branding">
            {% if site.theme_settings.gravatar %}
            <a href="{{ site.baseurl }}/">
                <img class="avatar" src="https://secure.gravatar.com/avatar/{{ site.theme_settings.gravatar }}?s=100" alt=""/>
            </a>
            {% elsif site.theme_settings.avatar %}
            <a href="{{ site.baseurl }}/">
                <img class="avatar" src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}" alt=""/>
            </a>
            {% endif %}
            <h1 class="site-title">
                <a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
            </h1>
        </div>
    </div>
    <nav class="site-nav">
            <ul>
<!--
                {% if site.theme_settings.site_navigation_sort %}
                    {% assign site_pages = site.pages | sort: site.theme_settings.site_navigation_sort %}
                {% else %}
                    {% assign site_pages = site.pages %}
                {% endif %}
                {% for page in site_pages %}
                {% if page.title and page.hide != true %}
                <li>
                    <a class="page-link" href="{{ page.url | relative_url }}">
                        {{ page.title }}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
-->
                <!-- Social icons from Font Awesome, if enabled  -->
<!--                {% include icons.html %}-->

                <!-- Search bar -->
                <li>
                {% include icons.html %}
                </li>
                {% if site.theme_settings.search %}
                <li>
                <form action="{{ site.baseurl }}/search.html" method="get">
                    <input type="text" id="search-box" name="query" placeholder="Search" class="">
                    <button type="submit" class="">
                        <i class="fa fa-fw fa-search"></i>
                    </button>
                </form>
                </li>
                {% endif %}
                
            </ul>
        </nav>
  
  
  
  
  

</header>

<div class="site-category">
    <ul class='cat1' id="js-cat">

      
      <li><a id="category-cv"> </a>
        <ul>
            <li><a href="/CV/Projects">Projects</a></li>
            <li><a href="/CV/Awards">Awards</a></li>
            <li><a href="/CV/Papers">Papers</a></li>
            <li><a href="/CV/ExtraCurricular Act">ExtraCurricular Act</a></li>
            <li><a href="/CV/InternShip">InternShip</a></li>
            <li><a href="/CV/Language">Language</a></li>
            <li><a href="/CV/Education">Education</a></li>
            <li><a href="/CV/Cources">Cources</a></li>
        </ul>
      </li>
      
      <li><a id="category-math"> </a>
        <ul>
            <li><a href="/Math/Mathematical Statistics">Statistics</a></li>
            <li><a href="/Math/Linear Algebra">Linear Algebra</a></li>
            <li><a href="/Math/Calculus">Calculus</a></li>
        </ul>
      </li>

      <li><a id="category-ds"> </a>
        <ul>
          <li><a href="/DS/R">R</a></li>
          <li><a href="/DS/ESL">ESL</a></li>
          <li><a href="/DS/ML">Machine Learning</a></li>
        </ul>
      </li>
      
      <li><a id = "category-cs"> </a>
        <ul>
          <li><a href="/CS/Database">Database</a></li>
          <li><a href="/CS/Algorithm">Algorithm</a></li>
          <li><a href="/CS/Architecture">Architecture</a></li>
        </ul>
      </li>


      <li><a id="category-dv"> </a>
        <ul>
          <li><a href="/DV/Ubuntu">Ubuntu</a></li>
          <li><a href="/DV/Python">Python</a></li>
          <li><a href="/DV/Cpp">C++</a></li>
          <li><a href="/DV/HTML">HTML</a></li>
          <li><a href="/DV/CSS">CSS</a></li>
          <li><a href="/DV/JavaScript">JavaScript</a></li>
          <li><a href="/DV/React">React</a></li>
          <li><a href="/DV/Django">Django</a></li>
          <li><a href="/DV/Git">Git</a></li>
          <li><a href="/DV/Tips">Tips</a></li>
        </ul>
      </li>

      
      <li><a id="category-about" href="/about/"> </a></li>
      
    
  
<!--    <ul class="cat2">-->
      
<!--  </ul>-->
    </ul>
  
  </div>
