<header class="site-header">
  <div class="site-title-nav">
    <div class="branding">
      {% if site.theme_settings.gravatar %}
      <a href="{{ site.baseurl }}/">
        <img
          class="avatar"
          src="https://secure.gravatar.com/avatar/{{ site.theme_settings.gravatar }}?s=100"
          alt=""
        />
      </a>
      {% elsif site.theme_settings.avatar %}
      <a href="{{ site.baseurl }}/">
        <img
          class="avatar"
          src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}"
          alt=""
        />
      </a>
      {% endif %}
      <h1 class="site-title">
        <a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
      </h1>
    </div>
  </div>
  <nav class="site-nav">
    <ul>
      <!--
                {% if site.theme_settings.site_navigation_sort %}
                    {% assign site_pages = site.pages | sort: site.theme_settings.site_navigation_sort %}
                {% else %}
                    {% assign site_pages = site.pages %}
                {% endif %}
                {% for page in site_pages %}
                {% if page.title and page.hide != true %}
                <li>
                    <a class="page-link" href="{{ page.url | relative_url }}">
                        {{ page.title }}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
-->
      <!-- Social icons from Font Awesome, if enabled  -->
      <!--                {% include icons.html %}-->

      <!-- Search bar -->
      <li>{% include icons.html %}</li>
      {% if site.theme_settings.search %}
      <li>
        <form action="{{ site.baseurl }}/search.html" method="get">
          <input
            type="text"
            id="search-box"
            name="query"
            placeholder="Search"
            class=""
          />
          <button type="submit" class="">
            <i class="fa fa-fw fa-search"></i>
          </button>
        </form>
      </li>
      {% endif %}
    </ul>
  </nav>
</header>

<div class="site-category">
  <ul class="cat1" id="js-cat">
    <li>
      <a id="category-cv" href="/"> </a>
      <ul>
        <li><a href="/CV/Projects">Projects</a></li>
        <li><a href="/CV/Awards">Awards</a></li>
        <li><a href="/CV/Papers">Papers</a></li>
        <li><a href="/CV/ExtraAct">ExtraCurricular Act</a></li>
        <li><a href="/CV/InternShip">Internship</a></li>
        <li><a href="/CV/Language">Language</a></li>
        <li><a href="/CV/Education">Education</a></li>
        <li><a href="/CV/Qualification">Qualification</a></li>
      </ul>
    </li>

    <li>
      <a id="category-book" href="/"> </a>
      <ul>
        <li><a href="/Book/Finance">Finance</a></li>
        <li><a href="/Book/BM">Business/Marketing</a></li>
        <li><a href="/Book/SM">Self Management</a></li>
        <li><a href="/Book/CH">Culture/History</a></li>
        <li><a href="/Book/Leadership">Leadership</a></li>
        <li><a href="/Book/Classics">Classics</a></li>
        <li><a href="/Book/Think">Think</a></li>
      </ul>
    </li>

    <li>
      <a id="category-ds" href="/"> </a>
      <ul>
        <li><a href="/DS/DL">Deep Learning</a></li>
        <li><a href="/DS/ML">Machine Learning</a></li>
        <li><a href="/DS/Visualization">Visualization</a></li>
        <li><a href="/DS/Statistics">Statistics</a></li>
        <li><a href="/DS/LA">Linear Algebra</a></li>
        <li><a href="/DS/Calculus">Calculus</a></li>
      </ul>
    </li>

    <li>
      <a id="category-cs" href="/"> </a>
      <ul class="category-cs-ul">
        <li class="category-cs-li"><a href="/CS/Dynamics">Dynamics</a></li>
        <li class="category-cs-li"><a href="/CS/Network">Network</a></li>
        <li class="category-cs-li"><a href="/CS/Database">Database</a></li>
        <li class="category-cs-li"><a href="/CS/Algorithm">Algorithm</a></li>
        <li class="category-cs-li"><a href="/CS/Structure">Structure</a></li>
        <li class="category-cs-li"><a href="/CS/Parallel">Parallel</a></li>
        <li class="category-cs-li"><a href="/CS/OS">OS</a></li>
      </ul>
    </li>

    <li>
      <a id="category-dv" href="/"> </a>
      <ul class="category-dv-ul">
        <li class="category-dv-li"><a href="/DV/Server">Server</a></li>
        <li class="category-dv-li"><a href="/DV/Linux">Linux</a></li>
        <li class="category-dv-li"><a href="/DV/Python">Python</a></li>
        <li class="category-dv-li"><a href="/DV/C++">C++</a></li>
        <li class="category-dv-li"><a href="/DV/JavaScript">JavaScript</a></li>
        <li class="category-dv-li"><a href="/DV/HTML-CSS">HTML/CSS</a></li>
        <li class="category-dv-li"><a href="/DV/React">React</a></li>
        <li class="category-dv-li"><a href="/DV/Django">Django</a></li>
        <li class="category-dv-li"><a href="/DV/Docker">Docker</a></li>
        <li class="category-dv-li"><a href="/DV/Git">Git</a></li>
        <li class="category-dv-li"><a href="/DV/Tips">Tips</a></li>
        <li class="category-dv-li"><a href="/DV/SP">Side Project</a></li>
      </ul>
    </li>

    <li>
      <a id="category-works" href="/"> </a>
      <ul class="category-works-ul">
        <li class="category-works-li"><a href="/Works/Tags">Tags</a></li>
        <li class="category-works-li"><a href="/Works/Series">Series</a></li>
      </ul>
    </li>

    <li><a id="category-about" href="/about/"> </a></li>

    <!--    <ul class="cat2">-->

    <!--  </ul>-->
  </ul>
</div>
