<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $(document).ready(function () {
    $(window).scroll(function () {
      if ($(this).scrollTop() > 200) {
        $(".top").fadeIn();
      } else {
        $(".top").fadeOut();
      }
    });

    $(".top").click(function () {
      $(".top").css("background", "#e7eceb");
      $(".top").css("color", "rgba(1, 53, 63, 0.8)");
      $("html, body").animate({ scrollTop: 0 }, 400);
      setTimeout(
        '$(".top").css("background", "rgba(1, 53, 63, 0.8)"); $(".top").css("color", "#e7eceb");',
        1000
      );
      return false;
    });
  });
</script>
