{% assign hNodeNumbers = content | split: '<h' | size %} {% assign hNodeNumbers
= hNodeNumbers | minus: 1 %} {% if hNodeNumbers > 1 %}
<div class="toc-whole-nav">
  <p>목차</p>
  <!-- <ul class="toc-nav" id="js-toc_nav"> -->
  {% include toc.html html=content h_max=3 class="toc-nav" id="js-toc_nav"
  anchor_class="toc-anchor" item_class="toc-item"
  submenu_class="submenu_class"%}
  <!-- </ul> -->
  <div class="toc-nav-btn" id="js-btn-toc_nav" onclick="handleTocNavShowing();">
    <div class="toc-nav-btn__content" id="js-toc-btn-content">▼ 내리기</div>
  </div>
</div>
{%endif%}
