.series-nav {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 13px 27px -10px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.series-nav p {
  font-size: 17px;
  margin: 0;
  @media (max-width: 400px) {
    font-size: 13px;
  }
}

.side-nav {
  display: none;
  // margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: outside;
  //   font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.side-nav-btn {
  cursor: pointer;
  margin: 0 30%;
  margin-top: 10px;
  // width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(25, 228, 191, 0.379);
  border-radius: 4px;
}

.side-nav-btn__content {
  font-size: 1em;
  font-weight: 100;
  font-family: $font-family-code;
  @media (max-width: 400px) {
    font-size: 0.75em;
  }
}

.side-nav li {
  border-top: 1px solid #cbcbcb;
  margin: 0;
  font-size: 16px;
  font-weight: 100;
  padding: 7px 0;
  // margin-left: 1em;
  cursor: pointer;
  @media (max-width: 400px) {
    font-size: 13px;
  }
}

.side-nav li a:not(.button) {
  display: block;
  color: #334d5c;
  margin: 0;
  padding: 0.4375rem 0.875rem;
}

.side-nav li a:not(.button) {
  border-bottom: 0;
  padding: 0.4375rem 0;
}

.side-nav li:hover {
  background-color: #e4e4e4;
}

.side-nav .current {
  cursor: default;
  font-weight: 300;
  font-style: italic;
}

.toc-whole-nav {
  padding: 15px;
  margin-bottom: 50px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 13px 27px -10px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.toc-nav {
  display: none;
  margin: 1em 0;
  padding: 0;
  list-style-type: none;
  list-style-position: outside;
  //   font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.toc-nav-btn {
  cursor: pointer;
  margin: 0 30%;
  margin-top: 10px;
  // width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(25, 228, 191, 0.379);
  border-radius: 4px;
}

.toc-nav-btn__content {
  font-size: 1em;
  font-weight: 100;
  font-family: $font-family-code;
  @media (max-width: 400px) {
    font-size: 0.75em;
  }
}

.toc-nav li {
  border-top: 1px solid #cbcbcb;
  margin: 0 1em;
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;
  list-style-type: none;
  @media (max-width: 400px) {
    font-size: 13px;
  }
}

.toc-nav li > ul > li,
.toc-nav li > ol {
  margin-right: 0;
}

.toc-nav li a:not(.button) {
  display: block;
  color: #334d5c;
  margin: 0;
  padding: 0.4375rem 0.875rem;
  text-decoration: none;
}

.toc-nav li a:not(.button) {
  border-bottom: 0;
  padding: 0.4375rem 0;
}

.toc-nav li:hover {
  background-color: #e4e4e4;
}

.toc-nav li li:hover {
  background-color: #c0c0c0;
}

.toc-nav li li li:hover {
  background-color: #a3a3a3;
}

.toc-whole-nav p {
  margin: 0;
  font-size: 17px;
  @media (max-width: 400px) {
    font-size: 13px;
  }
}

.toc-nav .current {
  cursor: default;
  font-weight: 300;
  font-style: italic;
}
