.series-nav {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.side-nav {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: outside;
  //   font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-family: $font-family-headings;
}

.side-nav li {
  border-top: 1px solid #cbcbcb;
  margin: 0;
  //   font-size: 1em;
  font-weight: 100;
  padding: 7px 0;
  cursor: pointer;
}

.side-nav li a:not(.button) {
  display: block;
  color: #334d5c;
  margin: 0;
  padding: 0.4375rem 0.875rem;
}

.side-nav li a:not(.button) {
  border-bottom: 0;
  padding: 0.4375rem 0;
}

.side-nav li:hover {
  background-color: #e4e4e4;
}

.series-nav p {
  margin-bottom: 1.3em;
}

.side-nav .current {
  cursor: default;
  font-weight: 300;
  font-style: italic;
}
