// _sass/_variables.scss
// Typography
$font-family-main: "Noto Sans KR", sans-serif !default;
// "Malgun Gothic",
$font-family-headings: "Nanum Myeongjo", Helvetica, Arial, sans-serif !default;
$font-family-logo: "Jua", Helvetica, Arial, sans-serif !default;
$font-family-title: "Jua", "Nanum Myeongjo", Helvetica, Arial, sans-serif !default;
$font-family-code: "Source code Pro", Helvetica, Arial, sans-serif !default;
$font-size: 1em !default;

// Padding
$padding-large: 20% !default;
$padding-small: 5% !default;
$padding-x-small: 3% !default;

$padding-text-big: 3% 25%;
// $padding-medium: 7.5% 7.5%;
$padding-text-medium: 3% 20%;
$padding-text-small: 4% 7%;
$padding-text-tiny: 5% 4%;

$padding-home-header-title-big: 7% 25%;
$padding-home-header-title-medium: 6% 20%;
$padding-home-header-title-small: 6% 7%;
$padding-home-header-title-tiny: 6% 12.5%;

$padding-main-category-feature-big: 8% 25%;
$padding-main-category-feature-medium: 8% 20%;
$padding-main-category-feature-small: 9% 7%;
$padding-main-category-feature-tiny: 10% 12.5%;

// Brand colours
$brand-color: #fff !default;
$background-color: #fff !default;
$border-color: rgba(
  0,
  0,
  0,
  0.1
) !default; // rgba recommended if using feature images

// Typography colours
$text-color: #020202 !default;
$link-color: #1abc9c !default;
$selection-color: #d4d4d4 !default; // visible when highlighting text

// Tags color
$tags-color: #b0b0b0 !default;

//Search color
$search-color: #999 !default;

// Header colours
$header-link-color: #383838 !default;

// Feature image for articles
$feature-image-text-color: #fff !default;
$feature-image-size: cover !default; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #1abc9c !default;
$header-desc-text-color: #fff !default;
$header-desc-link-color: #02453d !default;
