// _sass/_variables.scss
// Typography
// $font-family-main: "Noto Sans KR", sans-serif !default;
$font-family-main: "sans-serif", "Noto Sans KR" !default;

// "Malgun Gothic",
$font-family-headings: "Nanum Myeongjo", Helvetica, Arial, sans-serif !default;

$font-family-logo: "Jua", Helvetica, Arial, sans-serif !default;
$font-family-title: "Jua", "Nanum Myeongjo", Helvetica, Arial, sans-serif !default;
// $font-family-code: "Source code Pro", Helvetica, Arial, sans-serif !default;
$font-family-code: monospace, "Source code Pro", Helvetica, Arial, sans-serif !default;
$font-size: 1em !default;

// Padding
$padding-large: 20% !default;
$padding-small: 5% !default;
$padding-x-small: 3% !default;

$padding-text-big: 3% 23%;
// $padding-medium: 7.5% 7.5%;
$padding-text-medium: 3% 18%;
$padding-text-small: 4% 9%;
$padding-text-ball: 5% 5%;
$padding-text-tiny: 5% 4%;

$padding-home-header-title-big: 8% 24%;
$padding-home-header-title-medium: 6% 18%; // 6% 20%
$padding-home-header-title-small: 8% 9%; // 6% 7%
$padding-home-header-title-tiny: 7% 5%; //6% 12.5%

$padding-main-category-feature-big: 15% 24%; //10% 25%;
$padding-main-category-feature-medium: 14% 18%; //9% 20%;
$padding-main-category-feature-small: 12% 9%; //9% 7%;
$padding-main-category-feature-tiny: 15% 5%; //10% 12.5%;

$padding-post-teaser-big: 5% 24%;
$padding-post-teaser-medium: 4% 18%;
$padding-post-teaser-small: 6% 9%;
$padding-post-teaser-tiny: 6% 5%;

// Brand colours
$brand-color: #fff !default;
$background-color: #fff !default;
$border-color: rgba(
  0,
  0,
  0,
  0.1
) !default; // rgba recommended if using feature images

// Typography colours
$text-color: #020202 !default;
// $link-color: #1abc9c !default;
$link-color: #2c3a47 !default;

$selection-color: #d4d4d4 !default; // visible when highlighting text

// Tags color
$tags-color: #b0b0b0 !default;

//Search color
$search-color: #999 !default;

// Header colours
$header-link-color: #383838 !default;

// Feature image for articles
$feature-image-text-color: #fff !default;
$feature-image-size: cover !default; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #1abc9c !default;
$header-desc-text-color: #fff !default;
$header-desc-link-color: #02453d !default;
