.site-footer {
  @extend %padding-regular;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 0.8em;
  background: #383232;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: #999;
  @media (max-width: 400px) {
    font-size: 0.7em;
  }
}

.powered-by,
.prev-blog-info {
  display: inline-block;
}

.powered-by {
  margin-right: 10px;
}

.powered-by::after {
  content: "|";
  padding-left: 10px;
}

.theme-link {
  color: #f5fffa;
  text-decoration: none;
  border-bottom: 1px solid #999;
}

.saying {
  font-family: Nanum Myeongjo;
  padding-top: 2em;
  font-size: 1.2em;
  @media (max-width: 400px) {
    padding-top: 1.2em;
  }
}

.tags {
  // padding: 5% 20%;
  // @media screen and (max-width: 1000px) {
  //   padding: 7.5% 12.5%;
  // }
  // @media (max-width: 576px) {
  //   padding: 5%;
  // }
  @extend %padding-all;
  @media (max-width: 400px) {
    font-size: 0.85em;
  }
}
