.site-footer {
  @extend %padding-regular;
  display: inline-block;
  text-align: center;
  width: 100%;
  color: lighten($text-color, 30%);
  font-size: 0.9em;
}

.tags {
  padding: 5% 20%;
  @media screen and (max-width: 1000px) {
    padding: 7.5% 12.5%;
  }
  @media (max-width: 576px) {
    padding: 5%;
  }
}
