.feature-image {
  header {
    h1,p {
      font-family: 'Jua';
      background-color: rgba(0,0,0,0.5);
    }
  }
}

//.call-out {
//  font-size=: 2em;
//}


.site-header {
  @extend %padding-small;
  background: $brand-color;
  border-bottom: 1px solid $border-color;
  display: inline-block;
  float: left;
  width: 100%;
  
  @media (max-width: 480px) {
    .site-title {
      display: none;
    }
  }
  
  

  a {
    color: $header-link-color;
  }

  .avatar {
    height: 2em;
    width: 2em;
    float: left;
    margin-top: -3px;
    border-radius: 0.2em;
    margin-right: 1em;
  }

  .site-title {
    float: left;
    font-weight: bold;
    line-height: 1.5;
    font-size: 1.2em;
    width: 8em;
    a {
      font-family: $font-family-logo;
    }
  }

  .site-nav {
    display: inline-block;
    float: right;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1.5;
      float: right;
      text-align: right;
    }
    li {
      display: inline-block;
      margin-right: 1em;
      vertical-align: middle;
      font-family: $font-family-logo;
      &:last-of-type {
        margin-right: 0;
      }
    }
//    @media (max-width: 400px) {
//      display: block;
//      float: left;
//      ul {
//        display: inline-block;
//        float: left;
////        padding-top: $padding-small;
//        text-align: left;
//        width: 100%;
//      }
//    }
  }

    /* --- Search form --- */
    form {
        border: 0;
        border-bottom: 2px solid $search-color;
        outline: 0;
      
        @media(max-width: 600px) {
          width: 8em;
          input {
            width: 6.5em;
          }
        }

        *:focus {
            outline: none;
        }

        input{
            &[type=text] {
                box-sizing: border-box;
                border: 0;
                outline: 0;
                color: $search-color;
            }

            &::-moz-placeholder {
                color: $search-color;
                opacity: 1;
            }

            &:-ms-input-placeholder, &::-webkit-input-placeholder {
                color: $search-color;
            }
        }

        button {
           border: none;
           font-size: 0.9em;
           background-color: $brand-color;
           color: $search-color;
        }
    }
}





.site-category{
  background: $brand-color;
  border-top: 1px solid $border-color;
  margin:auto;
  padding:0;
  font-size:1em;
  text-align: center;
  clear:left;
  
    @media (max-width: 700px) {
      .cat1 {
        width: 30em;
        padding: 0px 10px;
      }
    }

    @media (max-width: 500px) {
      .cat1 {
        width: 26em;
        padding: 0px 18px;
        .short {
          padding: 0px 14px;
        }
      }
    }
    @media (max-width: 400px) {
      .cat1 {
        width: 24em;
        padding: 0px 9px;
        .short {
          padding: 0px 13px;
        }
      }
    }
    @media (max-width: 360px) {
      .cat1 {
        width: 20em;
        padding: 0px 2px;
        .short {
          padding: 0px 9px;
        }
      }
    }
  }

.site-category ul{
//background: rgb(109,109,109);
height:50px;
list-style:none;
line-height: 1.5;
margin:0;
padding:0;
display:inline-block;
  
  
}
  


.site-category li{
float: left;
display:inline;

  .short {
    display: none;
  }
  .long {
    display: inline-block;
  }
  @media (max-width: 700px) {
    .short {
      display: inline-block;
    }
    .long {
      display: none;
    }
    font-size:1.3em;
    padding: 0px 12px;
  }
  @media (max-width: 500px) {
    .short {
      display: inline-block;
    }
    .long {
      display: none;
    }
    font-size:1.3em;
    padding: 0px 6px;
  }
}






.site-category li a{
background: $brand-color;
display:block;
font-weight:normal;
line-height:50px;
margin:0px;
padding:0px 25px;
text-align:center;
text-decoration:none;
color: $text-color;
  @media (max-width: 800px) {
    padding: 0px 15px;
  }
}

.site-category li a:hover{
background: rgb(71,71,71);
color:#FFFFFF;
text-decoration:none;
}

.site-category li ul{
background: rgb(109,109,109);
display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:200px;
z-index:200;
/*top:1em;
/*left:0;*/
}

.site-category li:hover ul{
display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.site-category li li {
background: $brand-color;
display:block;
float:none;
margin:0px;
padding:0px;
width:200px;
}

.site-category li:hover li a{
background:none;
}

.site-category li ul a{
display:block;
height:50px;
font-size: 16px;
font-style:normal;
margin:0px;
padding:0px 10px 0px 15px;
text-align:left;
//  @media (max-width: 800px) {
//    font-size: 10px;
//  }
//  
  @media (max-width: 500px) {
    font-size: 12px;
  }
}

.site-category li ul a:hover, .menubar li ul li:hover a{
background: rgb(71,71,71);
border:0px;
color:#ffffff;
text-decoration:none;
}

