.tags {
  width: 100%;
  margin-top: 1em;
  .tag {
    margin-right: 0.5em;
    color: $tags-color;
  }
}

.tagged-post__title a {
  font-family: $font-family-headings;
}
.tagged-post {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  border: none !important;
  margin: 0.5em 0;
}

.tagged-post__title {
  margin: 0;
  font-size: 1.2em;
}

.tag-title {
  margin-top: 2em;
}

.tags-expo {
  padding: 1em 0 4em 0;
  border-bottom: 1px solid $border-color;
}

.post-tag {
  display: inline-block;
  background: rgba(1, 53, 63, 0.8);
  padding: 0.5rem 0.5rem;
  @media (max-width: 800px) {
    padding: 0.35rem 0.5rem;
  }
  margin-right: 0.5rem;
  border-radius: 4px;
  color: #e7eceb;
  font-family: $font-family-code;
  font-size: 1em;
  @media (max-width: 2500px) {
    font-size: 1.05em;
  }
  @media (max-width: 1500px) {
    font-size: 0.9em;
  }
  @media (max-width: 800px) {
    font-size: 0.85em;
  }
  @media (max-width: 500px) {
    font-size: 0.7em;
  }

  &:before {
    content: "\f02b";
    font-family: "Font Awesome 5 Free";
    // FontAwesome
    padding-right: 0.5em;
    font-weight: 900;
  }
  &:hover {
    text-decoration: none;
    background: #e7eceb;
    color: rgba(1, 53, 63, 0.8);
  }
  transition: all 0.1s ease-in-out;
}

.tags-expo {
  :target:before {
    content: "";
    display: block;
    height: 72px; /* fixed header height*/
    margin: -72px 0 0; /* negative fixed header height */
  }
  .tags-expo-list {
    @media (min-width: 38em) {
      font-size: 0.9rem;
      .post-tag {
        margin: 0.2em 0.3em;
      }
    }
  }
}
