.tags {
  width: 100%;
  margin-top: 1em;
  .tag {
    margin-right: 0.5em;
    color: $tags-color;
  }
}

.tagged-post__title a {
  font-family: $font-family-headings;
}
.tagged-post {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  border: none !important;
  margin: 0.5em 0;
}

.tagged-post__title {
  margin: 0;
}
