.post-content > :last-child {
  margin-bottom: 0;
}
article,
.comments {
  @extend %padding-home-header-title;
  // padding: $padding-big;
  // @media (max-width: 1000px) {
  //   padding: $padding-medium;
  // }
  // @media (max-width: 500px) {
  //   padding: $padding-small;
  // }
  border-bottom: 1px solid $border-color;
  float: left;
  width: 100%;
}
article {
  .subtitle {
    font-size: 1.45em;
    font-weight: normal;
    margin: 0;
  }
  header {
    margin-bottom: 6%;
    text-align: center;
  }
  a {
    @extend .body-link;
  }
  .footnotes {
    font-size: 0.9em;
  }
}
header {
  h1 {
    margin: 0;
  }
}
.meta {
  color: rgba($text-color, 0.5);
  font-size: 0.9em;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}
.feature-image {
  padding: 0%;
  .post-link {
    color: $feature-image-text-color;
    font-family: $font-family-logo;
  }
  header {
    color: $feature-image-text-color;
    background-size: $feature-image-size;
    margin-bottom: 0;
    // padding: $padding-large/2.5 $padding-large;
    .meta {
      color: rgba($feature-image-text-color, 0.7);
    }
  }
  .post-content {
    // @extend %padding-regular;
    @extend %padding-all;
  }
}

.post-teaser {
  .excerpt {
    .button {
      width: 9.5em;
      font-family: $font-family-logo;
    }
  }
}

.posts-list {
  padding: 0% 15%;
  clear: left;
  padding-top: 3%;
  list-style: none;
}

.posts-list li h3 small {
  font-family: "Source Code Pro";
  float: right;
}

ul .category-title {
  text-align: center;
  h1 {
    font-family: "Source Code Pro";
  }
}
