h1.title {
    font-family: "Jua";
  }
.search {
    h1, h2, h3, h4, h5 {
      font-family: "Gothic A1";
      margin-bottom: 0;
        
    }
  
    a.search-link {
        &:hover {
            text-decoration: none;
            color: $text-color;
        }
    }
    #not-found {
      text-align: center;
      font-weight: lighter;
      font-family: "Jua";
      font-size: 1.2em;
    }
}
