.wrap_magazine {
  position: relative;
  //   width: 700px;
  min-height: 400px;
  //   margin: 0 auto;
  padding: 0 0 100px;
  display: block;
}

.list_content {
  //   width: 735px;
  font-size: 0;
  line-height: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list_content .box_content {
  display: inline-block;
  position: relative;
  width: 210px;
  min-height: 398px;
  //   margin: 38px 35px 0 0;
  margin: 19px 10px;
  vertical-align: top;
  @media (max-width: 400px) {
    min-height: 0;
    width: 140px;
    height: 300px;
  }
}

.list_content .box_content_up {
  margin-top: 38px;
  @media (max-width: 400px) {
    margin-top: 20px;
  }
}

.box_content .cover_book {
  position: relative;
  width: 210px;
  height: 300px;
  border-radius: 2px 6px 6px 2px;
  background-color: #fff;
  @media (max-width: 400px) {
    width: 140px;
    height: 200px;
  }
}

.wrap_magazine a,
.wrap_magazine button,
.wrap_magazine input {
  outline: 0;
}

.box_content .cover_book_type3 .info_cover {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  width: 100%;
  height: 186px;
  border-radius: 2px 6px 0 0;
  border: 1px solid #ddd;
  border-bottom: none;
  box-sizing: border-box;
  background: 0 none;
  padding: 50px 40px 0 40px;
  @media (max-width: 400px) {
    padding: 20px 10px 0 10px;
    height: 130px;
  }
}

.box_content .cover_book_type3 .tit_cover {
  display: table-cell;
  //   padding: 51px 52px 0;
  font-size: 18px;
  line-height: 26px;
  //   color: #666;
  color: #333;
  vertical-align: top;
  font-weight: 400;
  word-break: break-all;
  word-wrap: break-word;
  font-family: "Nanum Myeongjo";
  text-align: center;
  @media (max-width: 400px) {
    font-size: 14px;
  }
}

.box_content .cover_book_type3 .img_thumb {
  width: 210px;
  height: 300px;
  padding-top: 186px;
  border-radius: 0 0 6px 2px;

  @media (max-width: 400px) {
    width: 140px;
    height: 200px;
    padding-top: 130px;
  }
}

.box_content .cover_book img {
  display: block;
  width: 100%;
  border-radius: 2px 6px 6px 2px;
}

.box_content .book_cover_type1 .dimmed_book_type1,
.cover_book .dimmed_book_type1 {
  width: 9px;
  border-right: 1px solid #d4d4d4;
}

.dimmed_book_type1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 9px;
  height: 100%;
}

.box_content .cover_book_type3 .dimmed_cover {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 114px;
  border-radius: 0 0 6px 0;
  @media (max-width: 400px) {
    height: 70px;
  }
}

.box_content .tit_content {
  display: block;
  padding: 20px 0 0 0;
  font-weight: 400;
  @media (max-width: 400px) {
    padding: 15px 0 0 0;
  }
}

.tit_content {
  font-size: 13px;
  line-height: 15px;
  color: #959595;
  font-family: $font-family-main;
}

.box_content .tit_subject {
  display: block;
  display: -webkit-box;
  border-bottom: none;
  overflow: hidden;
  max-height: 54px;
  // padding: 4px 0 0;
  margin-top: 4px;
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  @media (max-width: 400px) {
    font-size: 12px;
    line-height: 19px;
    padding: 0;
  }
}

.wrap_magazine a,
.wrap_magazine button,
.wrap_magazine input {
  outline: 0;
}

.box_content .list_post_info {
  display: block;
  padding: 0;
  font-size: 0;
  @media (max-width: 400px) {
    line-height: 15px;
    margin: 0;
  }
}

.box_content .list_post_info dd,
.box_content .list_post_info dt {
  display: inline-block;
  //   vertical-align: top;
}

.ico_list {
  width: 13px;
  height: 13px;
  background-position: -100px -370px;
  color: #959595;
  font-size: 13px;
  @media (max-width: 400px) {
    font-size: 10px;
  }

  &:before {
    content: "\f036";
    font-family: "Font Awesome 5 Free";
  }
}

.box_content .txt_g {
  padding-left: 2px;
  font-size: 12px;
  line-height: 18px;
  color: #959595;
  @media (max-width: 400px) {
    font-size: 10px;
  }
}

.box_content .list_post_info dd + dt {
  padding-left: 12px;
}
