.tag-title {
  color: $tags-color;
  margin-bottom: 0;
}
.tagged-post {
  .title {
    margin-top: 0;
    margin-bottom: 0;
  }
  @media (max-width: 580px) {
    .title {
      font-size: 0.5em;
    }
  }
}

.tagged-post__title {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none !important;
  width: 70%;
  @media (max-width: 580px) {
    font-size: 1em;
  }
}

.tagged-post__date {
  text-align: right;
  width: 30%;
  @media (max-width: 580px) {
    font-size: 0.7em;
  }
}
