---
layout: default
---

<article {% if page.feature-img %}class="feature-image"{% endif %}>
  {% assign category = page.category | default: page.title %}
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    
    <ul class="category-title"><h1>
      Category : {{ page.title }}</h1></ul>
  </header>

  <ul class="posts-list">
    {% for post in site.categories[category] %}
    <li>
      <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
        <small>{{ post.date | date_to_string }}</small>
      </h3>
    </li>
  {% endfor %}
  
</ul>
  
</article>


