---
layout: default
---

<div class="home">
  {% if site.theme_settings.header_text %}
  <article class="feature-image">
    <header style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
    <ul class="category-title">
      <h1 class="title">
        {{ site.theme_settings.header_text }}
      </h1>
      
    </ul>
    </header>
  </article>
  {% endif %}
  
  
  </div>
<!--  기존 header 이미지 띄우는 방법-->
<!--
  {% if site.theme_settings.header_text %}
  <div class="call-out"
  style="background-image: url('{{ site.baseurl }}/{{ site.theme_settings.header_text_feature_image }}')">
    {{ site.theme_settings.header_text }}
  </div>
  {% endif %}
-->


  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post-teaser list-box" style="cursor: pointer;" onclick="location.href='{{ post.url | relative_url }}';" >
        <header>
          <h2 class="categorized-post__title">
            <a class="post-link" href="{{ post.url | relative_url }}">

            {% assign subtitle = post.category | split: "/" %}
              [{{subtitle.last}}]
              {% if post.series %}
                {{ post.series }}
              {% endif %}
               {{ post.title }}
            </a>
          </h2>
          <p class="meta">
            {{ post.date | date: "%B %-d, %Y" }}
          </p>
        </header>
        <div class="excerpt">
          {{ post.excerpt }}
          {% comment %} <a class="button" href="{{ post.url | relative_url }}">
            {{ site.theme_settings.str_continue_reading }}
          </a> {% endcomment %}
        </div>
      </div>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme_settings.str_previous_page }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url | replace: '//', '/' }}" class="button" >
      {{ site.theme_settings.str_next_page }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
{% comment %} </div> {% endcomment %}
