---
layout: default
---

<article
  {%
  if
  page.feature-img
  %}class="feature-image main-category-feature"
  {%
  endif
  %}
>
  <header
    style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')"
  >
    <ul
      class="category-title"
      {%
      if
      page.errorPage
      %}
      style="background-color: #fff"
      {%
      endif%}
    >
      <h1 class="title">{{ page.feature-title | default: page.title }}</h1>
      {% if page.subtitle %}
      <h2 class="subtitle">{{ page.subtitle }}</h2>
      {% endif %} {% if page.introduce %}
      <p class="meta">{{ page.introduce }}</p>
      {% elsif page.title == "Series" %} {% assign sortedPosts = site.posts |
      sort: 'title' %} {% assign seriesLists = "" | split: "," %} {% for post in
      sortedPosts %} {% if post.series %} {% unless seriesLists contains
      post.series %} {% assign seriesLists = seriesLists | push: post.series %}
      {% endunless %} {% endif %} {% endfor %}
      <p class="meta">Number of Series : {{ seriesLists|size }}</p>
      {% elsif page.tags %}
      <p class="meta">Number of Tags : {{ site.tags|size }}</p>
      {% endif %}
    </ul>
  </header>

  <section class="post-content">{{ content }}</section>
</article>
