* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
figure {
  margin: 0;
}
// For correct line number width in Github Gists
.gist table tbody tr td {
  box-sizing: content-box;
}
html {
  background: $background-color;
}

// Typography
::selection {
  background: $selection-color;
}
::-moz-selection {
  background: $selection-color;
}
body {
  color: $text-color;
  font-family: $font-family-main;
  font-size: $font-size;
  word-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-headings;
  font-weight: 400;
  line-height: 1.5;
  margin: 0.67em 0;
  display: inline-block;
  // margin-top: 2em;
  a {
    margin: 0.2em 0;
    font-family: $font-family-logo;
    color: $text-color;
    font-size: $font-size;
  }
  a.post-link {
    font-family: $font-family-headings;
  }
}

h1 {
  font-size: 2em;
  @media (max-width: 800px) {
    font-size: 1.7em;
  }
  @media (max-width: 400px) {
    font-size: 1.4em;
  }
}
h1.title {
  line-height: 1.5;
  font-family: $font-family-title;
  font-size: 2.5em;
  display: block;
  // text-align: center !important;
  text-align: -webkit-center !important;
  @media (max-width: 800px) {
    font-size: 1.7em;
  }
  @media (max-width: 400px) {
    font-size: 1.4em;
  }
}
h2 {
  font-size: 1.7em;
  @media (max-width: 800px) {
    font-size: 1.4.5em;
  }
  @media (max-width: 400px) {
    font-size: 1.3em;
  }
}
h3 {
  font-size: 1.5em;
  @media (max-width: 800px) {
    font-size: 1.3em;
  }
  @media (max-width: 400px) {
    font-size: 1.2em;
  }
}
h4 {
  font-size: 1.15em;
  @media (max-width: 800px) {
    font-size: 1.15em;
  }
  @media (max-width: 400px) {
    font-size: 1.1em;
  }
}
p {
  @media (max-width: 400px) {
    font-size: 0.85em;
  }
}
blockquote {
  border-left: 2px solid;
  padding: 1em 1em;
}
blockquote p:last-child,
footer p:last-child {
  margin-bottom: 0;
}
table {
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
}
td,
th {
  padding: 0.5em 1em;
  border: 1px solid $border-color;
  text-align: left;
}
td {
  vertical-align: top;
}
th {
  vertical-align: bottom;
}
table,
dl,
blockquote,
code,
kbd,
pre,
samp {
  // margin: 1em 0;
  margin-bottom: 1em;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 2em;
}
ol,
ul,
dl,
.math-display {
  line-height: 1.5;
  margin-bottom: 1em;
}
ul {
  margin-bottom: 0;
}

.MJXc-display {
  margin-bottom: 2.5em !important;
}

// 본문 변경

p,
li,
dl {
  font-family: $font-family-main;
  line-height: 1.7em;
  letter-spacing: 0.6px;
  font-size: 13pt;
  margin: 10px 0;
  font-weight: 100;
  // -webkit-font-smoothing: antialiased;
  @media (max-width: 400px) {
    font-size: 11pt;
    letter-spacing: 0.4px;
    line-height: 18pt;
  }
}

ol {
  margin-bottom: 2.5em;
}

p {
  color: #333;
  margin: 0;
  margin-bottom: 2.5em;
  // line-height: 22px;
}

// KaTeX math display
.math-display {
  display: inline-block;
  width: 100%;
}
// Lists within lists
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1em;
}
ol,
ul {
  list-style-position: inside;
  margin-bottom: 2.5em;
}
hr {
  border: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid #fff;
  margin: 1em 0;
}
a {
  color: $link-color;
  // font-style: italic;
  text-decoration: none;
}
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
// Responsive media
iframe,
img,
embed,
object,
video {
  max-width: 100%;
}
img[align="left"] {
  margin-right: 3%;
}
img[align="right"] {
  margin-left: 3%;
}

// 코드 색 변경
pre.highlight {
  padding: 1em;
  overflow-wrap: normal;
}

div.highlight {
  background-color: antiquewhite;
  white-space: pre-wrap; //css3
  white-space: moz-pre-wrap; //firefox
  white-space: -pre-wrap; //opera 4-6
  white-space: -o-pre-wrap; //opera 7
  word-wrap: break-word; //internet explorer
  overflow-wrap: normal;
}

blockquote p {
  font-weight: 500;
  font-style: initial;
  font-family: $font-family-headings;
}

// 중앙 정렬
.center {
  display: block;
  margin: auto;
}

.center-text {
  display: block;
  margin: auto;
  text-align: center;
}

// home 에서 p margin 삭제 용도
.list-box p {
  margin: 0;
}

// .list-box {
//   background-color: white;
// }

// .list-box:hover {
//   background-color: red;
// }

.post.link-whole {
  width: 100%;
  height: 100%;
  display: block;
}

// 스크롤 바
::-webkit-scrollbar {
  width: 0;
}

.list-box:hover {
  background-color: #e4e4e4;
}
