* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
figure {
  margin: 0;
}
// For correct line number width in Github Gists
.gist table tbody tr td {
  box-sizing: content-box;
}
html {
  background: $background-color;
}

// Typography
::selection {
  background: $selection-color;
}
::-moz-selection {
  background: $selection-color;
}
body {
  color: $text-color;
  font-family: $font-family-main;
  font-size: $font-size;
  word-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-headings;
  font-weight: 400;
  line-height: 1.5;
  // margin: 0.3em 0;

  // display: inline-block;
  display: block;
  // margin-top: 2em;
  a {
    margin: 0.2em 0;
    font-family: $font-family-logo;
    color: $text-color;
    font-size: 1.1em;
    @media (max-width: 1500px) {
      font-size: 1em;
    }
    @media (max-width: 800px) {
      font-size: 1em;
    }
    @media (max-width: 400px) {
      font-size: 0.9em;
    }
  }
  a.post-link {
    font-family: $font-family-headings;
  }
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  border-bottom: solid 1px #eaecef;
  padding-bottom: 0.3em;
}

h1 {
  font-size: 1.8em;
  margin: 2.5em 0.3em 0 0;
  @media (max-width: 800px) {
    font-size: 1.7em;
  }
  @media (max-width: 400px) {
    font-size: 1.4em;
  }
}
h1.title {
  line-height: 1.5;
  font-family: $font-family-title;
  font-size: 2.5em;
  display: block;
  // text-align: center !important;
  text-align: -webkit-center !important;
  @media (max-width: 800px) {
    font-size: 1.7em;
  }
  @media (max-width: 400px) {
    font-size: 1.4em;
  }
}
h2 {
  margin: 2em 0.3em 0 0;
  font-size: 1.6em;
  @media (max-width: 800px) {
    font-size: 1.4em;
  }
  @media (max-width: 400px) {
    font-size: 1.2em;
  }
}
h3 {
  margin: 1.5em 0.3em 0 0;
  font-size: 1.4em;
  @media (max-width: 800px) {
    font-size: 1.2em;
  }
  @media (max-width: 400px) {
    font-size: 1.1em;
  }
}
h4 {
  margin: 1em 0.3em 0 0;
  font-size: 1.3em;
  @media (max-width: 800px) {
    font-size: 1.1em;
  }
  @media (max-width: 400px) {
    font-size: 1em;
  }
}
p {
  @media (max-width: 400px) {
    font-size: 0.85em;
  }
}
blockquote {
  border-left: 2px solid;
  padding: 1em 1em;
}
blockquote p:last-child,
footer p:last-child {
  margin-bottom: 0;
}
table {
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
}
td,
th {
  padding: 0.5em 1em;
  border: 1px solid $border-color;
  text-align: left;
}
td {
  vertical-align: center; // default = top
}
th {
  vertical-align: bottom;
}
table,
dl,
blockquote,
code,
kbd,
pre,
samp {
  margin: 1em 0;
  line-height: 1.5em;
  // margin-bottom: 1em;
}

code {
  font-family: $font-family-code;
}
code,
kbd,
pre,
samp {
  font-size: 0.95em;
}

dt {
  font-weight: bold;
}
dd {
  margin-left: 1em;
}
ol,
ul,
dl,
.math-display {
  line-height: 1.5;
  margin-bottom: 1em;
}
ul {
  margin-bottom: 0;
}

.MJXc-display {
  margin-bottom: 2.5em !important;
}

// 본문 변경

p,
li,
dl {
  font-family: $font-family-main;
  line-height: 1.7em;
  // letter-spacing: 0.6px;
  font-size: 17px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: 400;
  color: #111;
  // -webkit-font-smoothing: antialiased;

  @media (max-width: 400px) {
    font-size: 11pt;
    // letter-spacing: 0.4px;
    line-height: 18pt;
  }
}

ol {
  margin-bottom: 2.5em;
}

p {
  color: #111;
  margin: 1.5em 0;
  @media (max-width: 800px) {
    margin: 1em 0;
  }
  // line-height: 22px;
}

// KaTeX math display
.math-display {
  display: inline-block;
  width: 100%;
}

.MathJax_Display {
  font-size: 1em;
  @media (max-width: 400px) {
    font-size: 0.8em;
  }
}
// Lists within lists
li > ul,
li > ol {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 1em;
}
ol,
ul {
  list-style-position: inside;
  // margin-bottom: 2.5em;
  margin: 1em 0;
}
hr {
  border: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid #fff;
  margin: 1em 0;
}
a {
  color: $link-color;
  // font-style: italic;
  text-decoration: none;
}
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
// Responsive media
iframe,
img,
embed,
object,
video {
  max-width: 100%;
}
img[align="left"] {
  margin-right: 3%;
}
img[align="right"] {
  margin-left: 3%;
}

// 코드 색 변경
pre.highlight {
  padding: 1em;
  overflow-wrap: normal;
  margin: 1em 0;
}

div.highlight {
  background-color: antiquewhite;
  white-space: pre-wrap; //css3
  white-space: moz-pre-wrap; //firefox
  white-space: -pre-wrap; //opera 4-6
  white-space: -o-pre-wrap; //opera 7
  // word-wrap: break-word; //internet explorer
  overflow-wrap: normal;
}

blockquote p {
  font-weight: 400;
  font-style: initial;
  font-family: $font-family-headings;
  margin: 0;
  font-size: 18px;
  @media (max-width: 400px) {
    font-size: 16px;
  }
}

// 중앙 정렬
.center {
  display: block;
  margin: auto;
  width: auto;
}

.center-small {
  display: block;
  margin: auto;
  width: 70%;
}

.center-text {
  display: block;
  margin: auto;
  text-align: center;
}

// home 에서 p margin 삭제 용도
.list-box p {
  margin: 0;
  @media (max-width: 400px) {
    margin-bottom: -0.4em;
  }
}

// .list-box {
//   background-color: white;
// }

// .list-box:hover {
//   background-color: red;
// }

.post.link-whole {
  width: 100%;
  height: 100%;
  display: block;
}

// 스크롤 바
::-webkit-scrollbar {
  width: 0;
}

.list-box:hover {
  background-color: #e4e4e4;
}

table {
  margin: 1em 0;
  @media (max-width: 400px) {
    font-size: 10pt;
  }
}

// youtube
.embed-container {
  margin-bottom: 2em;
}

// excerpt 변경
.excerpt {
  font-size: large;
  font-weight: 300;
  @media (max-width: 400px) {
    font-size: 0.9em;
  }
}

// .posts .excerpt {
//   @media (max-width: 400px) {
//     margin-top: 0.5em;
//   }
// }

// image 캡션
img + em {
  display: block;
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 1.5em;
}

.subtext {
  font-size: 0.9em;
  @media (max-width: 800px) {
    font-size: 0.8em;
  }
  @media (max-width: 400px) {
    font-size: 0.7em;
  }
}

.site-title a {
  font-size: 1em;
}

// code block
code.language-plaintext {
  padding: 2px 4px;
  // color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 5px;
  margin: 0 3px;
}

.pagination {
  padding: 5% 20% 5% 20% !important;
  text-align: center;

  .button {
    font-size: 1em;
    @media (max-width: 800px) {
      font-size: 0.9em;
    }
    @media (max-width: 400px) {
      font-size: 0.8em;
    }
  }
}
