// Mix-ins
%padding-small {
  padding: $padding-x-small $padding-x-small * 2;
  @media (max-width: 1000px) {
    padding: $padding-x-small $padding-x-small;
  }
}
%padding-regular {
  padding: $padding-small $padding-large;
  @media (max-width: 1000px) {
    padding: $padding-small * 1.5 $padding-large / 1.6;
  }
  @media (max-width: 576px) {
    padding: $padding-small;
  }
}

%padding-all {
  padding: $padding-text-extreme;
  @media (max-width: 2150px) {
    padding: $padding-text-big;
  }
  @media (max-width: 1600px) {
    padding: $padding-text-medium;
  }
  @media (max-width: 1300px) {
    padding: $padding-text-small;
  }
  @media (max-width: 1000px) {
    padding: $padding-text-ball;
  }
  @media (max-width: 800px) {
    padding: $padding-text-tiny;
  }
}

%padding-home-header-title {
  // padding: $padding-home-header-title-big;
  // @media (max-width: 1000px) {
  //   padding: $padding-home-header-title-medium;
  // }
  // @media (max-width: 576px) {
  //   padding: $padding-home-header-title;
  // }
  padding: $padding-home-header-title-extreme;
  @media (max-width: 2150px) {
    padding: $padding-home-header-title-big;
  }
  @media (max-width: 1600px) {
    padding: $padding-home-header-title-medium;
  }
  @media (max-width: 1300px) {
    padding: $padding-home-header-title-small;
  }
  @media (max-width: 1000px) {
    padding: $padding-home-header-title-tiny;
  }
}

%padding-main-category-feature {
  padding: $padding-main-category-feature-extreme;
  @media (max-width: 2150px) {
    padding: $padding-main-category-feature-big;
  }
  @media (max-width: 1600px) {
    padding: $padding-main-category-feature-medium;
  }
  @media (max-width: 1300px) {
    padding: $padding-main-category-feature-small;
  }
  @media (max-width: 1000px) {
    padding: $padding-main-category-feature-tiny;
  }
}

%padding-post-teaser {
  padding: $padding-post-teaser-extreme;
  @media (max-width: 2150px) {
    padding: $padding-post-teaser-big;
  }
  @media (max-width: 1600px) {
    padding: $padding-post-teaser-medium;
  }
  @media (max-width: 1300px) {
    padding: $padding-post-teaser-small;
  }
  @media (max-width: 1000px) {
    padding: $padding-post-teaser-tiny;
  }
}

%top-scroll-toggle {
  right: $top-scroll-toggle-extreme;
  @media (max-width: 2150px) {
    right: $top-scroll-toggle-big;
  }
  @media (max-width: 1600px) {
    right: $top-scroll-toggle-medium;
  }
  @media (max-width: 1300px) {
    right: $top-scroll-toggle-small;
  }
  @media (max-width: 1000px) {
    right: $top-scroll-toggle-tiny;
  }
}

%main-nav-toggle {
  padding: $main-nav-teaser-extreme;
  @media (max-width: 2150px) {
    padding: $main-nav-teaser-big;
  }
  @media (max-width: 1600px) {
    padding: $main-nav-teaser-medium;
  }
  @media (max-width: 1300px) {
    padding: $main-nav-teaser-small;
  }
  @media (max-width: 1000px) {
    padding: $main-nav-teaser-tiny;
  }
}

// Buttons
.button {
  border-radius: 0.3em;
  border: 1px solid;
  display: inline-block;
  margin: 1em 0;
  padding: 0.5em 0.75em;
}
a.button {
  @extend .button-link;
}
.button-link {
  &:hover {
    background: $link-color;
    border: 1px solid $link-color;
    color: $background-color;
    text-decoration: none;
  }
}
.body-link {
  &:hover {
    text-decoration: underline;
    color: darken($link-color, 15%);
  }
}
// States
.disabled {
  opacity: 0.7;
}

// .language-plaintext.highlighter-rouge div {
//   padding: 0;
//   color: 0;
//   background-color: none;
//   border: none;
//   border-radius: 0px;
// }
